* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
}

body {
    background-color: black;
}

header, .main, footer {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.headerWrapper {
    background-image: url(../header.jpg);
    background-position: left top;
    background-size: cover;
}

header {
    padding: 50px 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    width: 21%;
}

nav ul li a {
    display: block;

    padding: 15px 0;
    
    background-color: rgb(255, 255, 255, 0.75);
    border-radius: 5px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #555;
    font-weight: 500;
}

nav .homeLink {
    background-color: rgba(0, 242, 255, 0.75);
    color: white;
}

header .action {
    margin-top: 50px;
    text-align: center;
}

.action h1 {
    font-size: 3rem;
    font-weight: 500;
}

.action h2 {
    font-size: 2rem;
    font-weight: 500;
}

.action button {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: rgba(0, 242, 255, 0.75);
    border-radius: 5px;
    border-style: none;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
}

.mainWrapper {
    background-color: white;
    padding: 30px;
}

.main,footer {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.main h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

.main .mainItems {
    display: flex;
    justify-content: space-between;
}

.mainItems .item {
    width: 30%;
    background-color: lightgray;
    padding: 15px;
    border-radius: 10px;
}

.item p {
    margin-bottom: 20px;
}

.item button {
    padding: 15px 25px;
    padding: 15px 30px;
    background-color: rgba(248, 150, 69, 0.75);
    border-radius: 5px;
    border-style: none;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item button {
    margin-top: auto;
}

.footerWrapper {
    background-color: black;
    margin-top: 20px;
}

footer {
    padding: 30px 0;
    color: lightgray;
    display: flex;
}

footer .description {
    padding-right: 30px;
    flex-grow: 3;
}

.fform {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.fform p {
    margin-bottom: 10px;
    font-weight: bold;
}

form  {
    display: flex;
}

form input[type="email"] {
    background-color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px 0 0 5px;
}

form input[type="submit"] {
    background-color: rgba(0, 242, 255, 0.75);
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    border-style: none;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
}

input:active,
a:hover {
  outline: 0;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }